.md-content a:link {
  text-decoration:underline;
}

.md-typeset a:hover {
  color: #abb9c1;
  text-decoration:underline;
}

.md-typeset h1 {
  font-size: 32px;
  font-family: Content-font, Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #28292d;
}

.md-typeset h1::after {
  width:93%;
  height:2px;
  background: #283551;
  content:"";
  display: block;
  margin-top: 1px;
  opacity: 0.3;
}

.md-typeset h2 {
  font-size: 24px;
  font-family: Content-font, Roboto, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: #28292d;
}

.md-typeset h2::after {
  width:100%;
  height:1px;
  background: #283551;
  content:"";
  display: block;
  margin-top: -5px;
  opacity: 0.2;
}

/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
  margin-bottom: 80px;
}

/* Don't capitalize names. */
h5.doc-heading {
  text-transform: none !important;
}

/* Don't show permalink of hidden ToC entries. */
.hidden-toc a.headerlink {
  display: none;
}

/* Avoid breaking parameters name, etc. in table cells. */
td code {
  word-break: normal !important;
}

/* For pieces of Markdown rendered in table cells. */
td p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
